production:
  delivery_method: :smtp
  smtp_settings:
    tls: <%= ENV['SMTP_TLS'] %>
    enable_starttls_auto: <%= ENV['SMTP_AUTHENTICATION'] %>
    address: <%= ENV['SMTP_SERVER'] %>
    port: <%= ENV['SMT_PORT'] %>
    domain: <%= ENV['SMTP_DOMAIN'] %>
    authentication: <%= ENV['SMTP_AUTHENTICATION'] %>
    user_name: <%= ENV['SMTP_USER'] %>
    password: <%= ENV['SMTP_PASS'] %>
